*{
    margin:0px;
    padding:0px;
}
footer{
    background-color: #0f0b0b;
    text-align: center;

}
.btn-primary{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
}
.menu-container{
    background-color:black;
    padding:20px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;

}
.logo-photo{
    width:120px;
}
.menus{
    display:flex;
    justify-content:;
    gap:3px;
}
.item{
    margin-right:10px;
    padding-right:7px;
    font-size:18px;
    cursor:pointer; 
}
.item:hover{
    color:blue;
}
/*banner style start*/
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:white;
    height: 100vh;
    background-image: url('./images/background.png'),
    linear-gradient(45deg,#0f0b0b,#270303);
    
 
}
.banner-img{
    width: 300px;
}
/*about section style*/
.about-title{
    text-align: center;
    padding-top: 20px;
    font-size: 55px;
    font-weight: bold;
    color:white;
}
.about{
    display: block;
}
.main-container{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.info-title{
    font-size:34px;
    font-weight: 600;
    margin-bottom: 7px;
}
.info-description{
    font-size: 17px;
    margin:5px;
    font-weight: bold;
    font-weight: 400;
}
/*service container style*/
.middle-part{
    background-color:#0f0b0b;
}
.service-container{
    display: flex;
    justify-content:space-around;
    padding:20px;
  
    color:white;

}
.service-img{
    width: 80px;
    margin-bottom: 10px;
}
.box{
    width: 230px;
    height: auto;
    border-radius: 5px;
    box-shadow: 4px 4px 15px gray;
    background-color: black;
    text-align: center;
    padding: 15px;
    color: white;
}
.p-description{
    margin-top:7px;

    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.btn-primary-service{
    margin-top: 6px;
    padding: 6px;
}
/* footer style start*/
.footer-container{
    display: flex;

    justify-content: space-around;
height: 100vh;
align-items: center;
  
    color:white;
}
.main-footer{
    height: 100vh;
    background-color: #0f0b0b;
    
}
.footer-hr{
    color:white;
}
.footer-last{
    color:white;
    padding-top: 5px;
    padding-bottom: 7px;
}
.footer-box>li{
    list-style: none;
    padding-top: 5px;
}
.p-description{
    margin-top: 8px;

}
.footer-title{

}